asn1crypto==0.24.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.3.1
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
packaging==18.0
pyasn1==0.4.4
pycparser==2.19
pyOpenSSL==18.0.0
pyparsing==2.3.0
PySocks==1.6.8
requests==2.20.1
six==1.11.0
SQLAlchemy==1.2.14
urllib3==1.24.1
Werkzeug==0.14.1
